.checkbox-input {
  display: block;
  width: 100%;
  .checkbox-list {
    display: block;
    margin: 10px 0;
  }
  .box-input {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    // &:before {
    //   content: '';
    //   position: absolute;
    // }
    // &:after {
    //   content: '✔';
    //   position: absolute;
    // }
  }
  .box-input input[type="checkbox"] {
    width: 100%;
    position: absolute;
    height: 100%;
  }
  label {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-left: 10px;
  }
}
