.checkbox-input {
  display: inline-block;
  width: 100%;
  .checkbox-list {
    display: block;
    margin: 10px 0;
  }
  label {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

.checkbox-input .box-input {
  display: inline-block;
  width: 20px;
  position: relative;
  margin-right: 15px;
  label.icon {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 2px;
    border: 1px solid $borderColor;
    transition: all .4s ease-in-out;
    outline: transparent auto 5px;
    &:after {
      content: '\2714';
      position: absolute;
      width: 65%;
      height: 80%;
      top: 50%;
      left: 50%;
      color: $checkedCheckbox;
      background: transparent;
      transition: all .3s ease-in-out;
      transform: translate(-50%, -50%) scale(0);
    }
  }
  input[type="checkbox"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    &:checked ~ label.icon:after {
      transform: translate(-50%, -50%) scale(1);
    }
    &:disabled {
      cursor: default;
      pointer-events: none;
    }
    &:disabled ~ label.icon {
      background: $bgDisabled;
      opacity: 0.9;
      pointer-events: none;
    }
    &:focus ~ label.icon, &:hover ~ label.icon {
      outline: $outlineColor auto 5px;
      border: 1px solid $outlineColor;
    }  
  }
}