$borderError: #FF0033;
$fontError: #FF0033;
$borderColor: #bebebe;
$fontColor: #333;
$outlineColor: #4087ff;
$checkedRadio: #333;
$checkedCheckbox: #333;
$bgDisabled: #ebebe4;
$optionSelected: #4087ff;
$white: #FFFFFF;
