$borderError: #d32f2f;
$borderSuccress: #0a6b04;
$fontError: #d32f2f;
$borderColor: #bebebe;
$fontColor: #333;
$outlineColor: #4087ff;
$checkedRadio: #333;
$checkedCheckbox: #333;
$bgDisabled: #ebebe4;
$optionSelected: #4087ff;
$white: #FFFFFF;
