.radio-input {
  display: inline-block;
  width: 100%;
  .radio-list {
    display: block;
    margin: 10px 0;
  }
  label {
    display: inline-block;
    width: auto;
    vertical-align: middle;
  }
}

.radio-input .box-input {
  display: inline-block;
  width: 20px;
  position: relative;
  margin-right: 15px;
  label.icon {
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    border-radius: 100%;
    border: 1px solid $borderColor;
    transition: all .4s ease-in-out;
    &:after {
      content: '';
      position: absolute;
      width: 50%;
      height: 50%;
      top: 50%;
      left: 50%;
      background: $checkedRadio;
      border-radius: 100%;
      border: 1px solid $checkedRadio;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 1px 1px $checkedRadio;
      transition: all .3s ease-in-out;
      transform: translate(-50%, -50%) scale(0);
    }
  }
  input[type="radio"] {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    &:checked ~ label.icon:after {
      transform: translate(-50%, -50%) scale(1);
    }
    &:disabled {
      cursor: default;
    }
    &:disabled ~ label.icon {
      background: $bgDisabled;
      opacity: 0.9;
      pointer-events: none;
    }
    &:focus ~ label.icon, &:hover ~ label.icon {
      border: 1px solid $outlineColor;
      box-shadow: 0 0 1px 1px $outlineColor;
    }   
  }
}