.text-input {
  .field-group {
    margin: 10px 0;
    label {
      display: block;
      width: 100%;
      margin: 5px 0;
      color: $fontColor;
    }
  }

  input[type="text"].form-input {
    width: 100%;
    padding: 5px;
    border: 1px solid $borderColor;
    color: $fontColor;
    transition: all .2s ease-in-out;
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0);
    outline: none;
    &:focus {
      box-shadow: 0px 0px 1px 1px  $outlineColor;
      border: 1px solid $outlineColor;
      outline: none;
    }
    &:disabled {
      background: $bgDisabled;
      opacity: 0.9;
    }
  }
  input[type="text"].form-input.error {
    border: 1px solid $borderError;
    &:focus {
      box-shadow: 0px 0px 1px 1px  $borderError;
      outline: none;
    }
  }
  .error-message {
    margin: 5px 0;
    font-size: 12px;
    color: $fontError;
  }
}

